@import 'variables';

@media screen and (prefers-color-scheme: dark) {
    body {
        color: $dark-text-color;
        background: $dark-bg-color;
    }
    input {
        color: $dark-input-text-color;
        border: 2px solid $dark-border-color;
    
        &:focus {
            outline: none;
            border: 2px solid $dark-accent-color;
        }
    }
    input:focus {
        outline-color: $dark-accent-color;
    }
    .text-list,
    .text-list-header {
        border-color: lighten($dark-border-color, 15%);

        &:hover {
            background: lighten($dark-bg-color, 3%);
        }
    }
    .text-list-header:hover {
        background: none;
    }
    button {
        &.btn-primary {}
    }
}